---
BasedOnStyle: WebKit
ColumnLimit: '160'
AllowShortFunctionsOnASingleLine: "false"
AllowShortIfStatementsOnASingleLine: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortLoopsOnASingleLine: "false"
...
