name: Batch

on:
  workflow_dispatch:
    inputs:
      descriptor:
        description: 'Batch descriptor'
        required: true
        default: 'v1.json'

jobs:
  split:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Node
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Creating batches cache
      uses: actions/cache@v2
      with:
        path: github_batches
        key: batches-${{ github.sha }}

    - name: Data splitting
      run: |
        cd batch_runner
        npm install .
        cd ..
        cd github_batches
        node ../batch_runner/splitter.js ${{ github.event.inputs.descriptor }} 18
        ls
        ls splits

  run:
    needs: split
    runs-on: ubuntu-latest

    strategy:
      matrix:
        agent: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

    steps:
      - name: Restore batches cache
        uses: actions/cache@v2
        with:
          path: github_batches
          key: batches-${{ github.sha }}

      - name: Log
        run: |
          cd github_batches
          cat splits/${{ matrix.agent }}.json
          touch ${{ matrix.agent }}.test
  
  collect:
    needs: run
    runs-on: ubuntu-latest

    - name: Restore batches cache
        uses: actions/cache@v2
        with:
          path: github_batches
          key: batches-${{ github.sha }}

    - name: Log
      run: |
        cd github_batches
        ls

  # batch:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 4300

  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2

  #   - name: Install extra runtime
  #     run: |
  #       sudo apt-get update
  #       sudo apt-get install -y libgl1-mesa-dev libglu1-mesa-dev

  #   - name: Install conan
  #     uses: turtlebrowser/get-conan@main

  #   - name: Install Node
  #     uses: actions/setup-node@v2
  #     with:
  #       node-version: 16

  #   - name: Batch running
  #     run: |
  #       cd batch_runner
  #       npm install .
  #       sudo npm install -g .
  #       cd ..
  #       cd github_batches
  #       batch_runner ${{ github.event.inputs.descriptor }}
  #       git config --global user.name 'Batch Runner'
  #       git config --global user.email 'wolfee001@users.noreply.github.com'
  #       git add .
  #       git commit -m "Batch run data" || echo "Nothing changed"
  #       git push || echo "Nothing changed"
