name: BuildServer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install extra runtime
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libglu1-mesa-dev

    - name: Install conan
      uses: turtlebrowser/get-conan@main

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release

    - name: Test
      run: |
        cd ${{github.workspace}}/build
        ctest . -C Release

  recommit:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Checkout the other
      run: |
        git clone http://routing_all_stars:${{ secrets.GITLAB_PASSWORD }}@git-ecosim.dyndns.org:11111/graphisoft/2021/routing_all_stars.git
        cd routing_all_stars
        git checkout main_vampire
        git config --global user.email "routing@all.stars"
        git config --global user.name "Routing All Stars"

    - name: Copy source
      run: |
        cp ../*.h ./
        cp ../*.cpp ./

    - name: Commit & push
      run: |
        git add .
        git commit -m "${{ github.event.head_commit.message }}"
        git push
